$color-primary: white;
$color-secondary: #2f2f2f;
$background-primary: rgba(237, 108, 33, 1);
$background-secondary: rgba(255, 255, 255, 0.2);

//font-family: 'Varela Round', sans-serif;
$font-primary: "Varela Round", sans-serif;
